.css-1eex93v-MuiTooltip-tooltip {
    font-size: 1.2rem !important;  /* Zvětšení písma */
    padding: 8px 12px !important;  /* Zvětšení paddingu */
    line-height: 1.6 !important;   /* Zlepšení čitelnosti */
    max-width: 350px !important;   /* Zvětšení šířky */
  }