@import "/src/app/variables.module.scss";

.page {
    .container {
        width: 100%;
        box-sizing: border-box;
        padding: 2rem $w-padding-s;

        h1 {
            font-size: $title-size-h1; // Používá nový systém
            text-align: center;
            
            @media (max-width: 768px) {
                font-size: calc(#{$title-size-h1} * #{$mobile-scale});
            }
        }

        p {
            font-size: $font-size-base; // Používá nový systém
            text-align: center;
            
            @media (max-width: 768px) {
                font-size: calc(#{$font-size-base} * #{$mobile-scale});
            }
        }

        @media (min-width: 800px) {
            padding: 2rem $w-padding-m;

            h1,
            p {
                text-align: left;
            }
        }
    }
}
