.container {
    width: 100%;
    box-sizing: border-box;

    margin-top: 4rem;
    margin-bottom: 4rem;

    text-align: center;

    video {
        width: 80%;
        height: auto;
    }

    @media (min-width: 1280px){
        padding: 0px 8%;
    }
}