@import "/src/app/variables.module.scss";

.serviceCard {
    position: relative;
    display: block;
    aspect-ratio: 3/4;
    overflow: hidden;

    width: 50%;
    box-sizing: border-box;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    
    min-width: 225px;

    @supports not (aspect-ratio: 3/4) {
        padding-bottom: 66%;
    }

    @media (min-width: 800px) {
        width: 49.25%;
        min-width: unset;

        @supports not (aspect-ratio: 3/4) {
            padding-bottom: 65%;
        }
    }

    @media (min-width: 1200px) {
        width: 100%;
        min-width: unset;

        @supports not (aspect-ratio: 3/4) {
            padding-bottom: 26.7%;
        }
    }

    &:hover {
        .content {
            transition: 0.5s ease;
            transform: translateY(0);
        }
    }

    .content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateY(90%);
        transition: 0.5s ease;
        background-color: #c59d5f;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;

            box-sizing: border-box;
            height: 10%;
            
            margin: 0;
            padding: 0;
            
            text-align: center;
            color: white;
            font-weight: 400;
            font-size: $title-size-h3; // Používá h3 velikost
        }

        .description {
            margin: 0;
            padding: 1rem 1rem;
            box-sizing: border-box;

            text-align: center;

            font-size: $font-size-base; // Standardní velikost
            color: white;
        }

        .button {
            position: absolute;
            bottom: 10%;
            left: 50%;
            width: 40%;
            transform: translateX(-50%);
            text-align: center;

            font-size: $button-size; // Velikost pro tlačítka
            color: white;
            padding: 1rem 0.5rem;
            border: 1px solid white;

            transition: .5s ease;

            @media (min-width: 800px) {
                bottom: 10%;
            }

            &:hover {
                background-color: white;
                color: #c59d5f;
                transition: .5s ease;
            }
        }
    }
}
